/*Mise en forme des Sections*/
#section
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content:space-between;
    margin-left: 50px;
    margin-right: 41.25px; 
}

/*Mise en forme Hébergements à Marseille*/
#hebergements
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content:space-between;
    width: 50em;
    height: 40em;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    background-color: #F2F2F2;
}

/*Mise en forme Des plus Populaires*/
#popularity
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content:space-around;
    width: 26em;
    height: 40em;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    background-color: #F2F2F2;
}

/*Mise en Forme du Titre Hébergements à Marseille*/
.title1
{
    padding-top:1em;
    margin-left: 3%;
    margin-right: 10%;
    margin-bottom: 2.4em;
    width: 90%;
    height: 2%;
    font-size: 1.2em;
}

/*Largeur Hauteur des tuiles dans Hébergements à marseille*/
.reservation
{
    width: 28%;
    height: 12em;
    margin: 1em;
    margin-bottom: 3em;    
}

#reservation1, #reservation2, #reservation3,
#reservation4, #reservation5, #reservation6
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 22em;
    height: 14em;
}

/*Implementation des Images dans les Tuiles Section1 et Aside*/
.picture
{
    width: 9em;
    height: 10em;
    object-fit: cover;
}

/*Couleur des Legendes dans les tuiles*/
.legende, .night
{
    width: 12em;
    margin:0.5em 0 0.2em 0.7em;
    color: black;
}

/*Largeur, Hauteur, Marge, Arrangement interieur des Tuiles*/
.image
{
    width: 14.6em;
    height: 6.9em;
    object-fit: cover;
}

.night
{ 
    font-size: 16px;
    margin: 0 0 0.2em 0.6em;
    
}

.star
{
    margin: 0 0 0.7em 0.4em;
    width: 7em;
    
}

/*Bordures Tuiles, Overflow pour cacher les bords des images débordant des Tuiles et couleur de fond*/
#hebergements figure, #popularity figure
{
    border:4px solid white;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

/*Mise en forme du lien Afficher plus*/
.display
{
    margin-left: 1.5em;
    margin-bottom: 2em;
    margin-right: 85%;
    width: 15%;
    height: 2em;
    color: black; 
}

/*Mise en Forme du Titre des Plus Populaires*/
.title2
{
    display: flex;
    justify-content:space-around;
    padding-top:1em;
    padding-left: 1em;
    width: 90%;
    height: 5%;
    font-size: 1.2em;
}

/*Mise en forme des Tuiles des Plus Populaires*/
#popular1, #popular2, #popular3
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 22em;
    height: 11.5em;
    margin: auto;
    color: black;
}

/*Disposition des etoiles dans les Tuiles des Plus Populaires*/
#marge, #marge1, #marge2
{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin-top: 10%;
}

/*Ajustement #marge1 et #marge2 par rapport a #marge*/
#marge1, #marge2
{
    margin-right:19%;
}

/*Couleur Bleue des Etoiles */
.fas.fa-star
{
    color: #0065FC;
}

/*Couleur grise des etoiles*/
.fas.fa-star.grey
{
    color: #F2F2F2;
}

/*Mise en forme des Activités*/
#activities
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 600px;    
    margin:0px;
}

/*Mise en forme du titre Activités*/
.title3
{
    width: 100%;
    height: 1em;        
    font-size: 1.2em;
    padding-top: 20px;
}
/*Implementation des Images dans les Tuiles Activités + Largeur hauteur * Marges*/
.picture1
{
    width: 400px;
    height: 437px;
    margin: auto;
    object-fit: cover;
}

.picture2, .picture3, .picture4, .picture5
{
    width: 19em;
    margin: auto;
    object-fit: cover;
} 

.picture2
{
    height: 13em;
    max-height: 13em;
}

.picture3
{
    height: 8.3em;
    max-height: 8.3em;
}

.picture4
{
    height: 9em;
    max-height: 9em;
}

.picture5
{ 
    height: 12.3em;
    max-height: 12.3em;
}

/*Legendes*/
.legende1
{
    margin-left: 10px;
    color: black;
}

.legende2
{
    margin-left: 1em;
    color: black;
}

/*Mise en page des Tuiles*/
#activities figure
{
    border: 5px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #F2F2F2;
    overflow: hidden;
    background-color: white;
}

#activity1, #activity4
{
    display: flex;   
    flex-direction: column;
    justify-content: space-between;
    width: 26%;
    height: 490px;
    margin: 0px;
}

#frame, #frame1
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 21%;
}

#activity2, #activity3, #activity5, #activity6
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-content: space-between;
    max-width:95%;
    margin:auto; 
}

#activity2
{
    max-height: 57%;
    margin-bottom: 2em;
}

#activity3
{
    max-height: 40%;
}

#activity5
{
    max-height: 40%;
    margin-bottom: 2em;
}

#activity6
{
    max-height: 50%;
} 

/*Effet de zoom au survol de la souris*/
.reservation:hover, .popular:hover
{
    -webkit-transition: all 1s ease; /*Compatibilite Safari et Chrome*/
    -moz-transition: all 1s ease; /*Compatibilite Mozilla Firefox*/
    -o-transition: all 1s ease; /*Compatibilite Opera*/
    -ms-transition: all 1s ease; /*Compatibilite Internet Explorer 9*/
    transition: all 1s ease; /*Transition toutes les 1 secondes*/

    -webkit-transform:scale(1.15); /*Safari et Chrome*/
    -moz-transform:scale(1.15); /*Mozilla Firefox*/
    -o-transform:scale(1.15); /*Opera*/
    -ms-transform:scale(1.15); /*Compatibilite Internet Explorer 9*/
    transform:scale(1.15); /*Echelle de Transformation*/
}

#activity1:hover, #activity2:hover, #activity3:hover, 
#activity4:hover, #activity5:hover, #activity6:hover
{
    -webkit-transition: all 1s ease; /*Compatibilite Safari et Chrome*/
    -moz-transition: all 1s ease; /*Compatibilite Mozilla Firefox*/
    -o-transition: all 1s ease; /*Compatibilite Opera*/
    -ms-transition: all 1s ease; /*Compatibilite Internet Explorer 9*/
    transition: all 1s ease; /*Transition toutes les 1 secondes*/

    -webkit-transform:scale(1.10); /*Safari et Chrome*/
    -moz-transform:scale(1.10); /*Mozilla Firefox*/
    -o-transform:scale(1.10); /*Opera*/
    -ms-transform:scale(1.10); /*Compatibilite Internet Explorer 9*/
    transform:scale(1.10); /*Echelle de Transformation*/
}
