/*Mise en forme des Sections*/
#section
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content:space-between;
    margin-left: 50px;
    margin-right: 41.25px; 
}

/*Mise en forme Hébergements à Marseille*/
#hebergements
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content:space-between;
    width: 52em;
    height: 40em;
    margin: 0px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #F2F2F2;
}

/*Mise en forme Des plus Populaires*/
#popularity
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content:space-around;
    width: 26em;
    height: 40em;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #F2F2F2;
}

/*Mise en forme des Activités*/
#activities
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content:center;
    width: 100%;
    height: 628.42px;
    border:1px solid black;
}

/*Mise en Forme du Titre Hébergements à Marseille*/
.title1
{
    padding-top:1em;
    padding-left: 1em;
    margin-left: 3%;
    margin-right: 10%;
    width: 90%;
    height: 2%;
    font-size: 1.2em;
}

/*Largeur Hauteur des tuiles dans Hébergements à marseille*/
.reservation
{
    width: 23%;
    height: 12em;
}

/*Couleur des Legendes dans les tuiles*/
.legende
{
    color: black;
}

/*Largeur, Hauteur, Marge, Arrangement interieur des Tuiles*/
.image, .display
{
    display: flex;
    justify-content: space-between;
    width: 12.8em;
    height: 7em;
    margin-right: 50px;  
    object-fit: cover;
}

/*Bordures Tuiles, Overflow pour cacher les bords des images débordant des Tuiles et couleur de fond*/
figure
{
    border:3px solid white;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

/*Mise en forme du lien Afficher plus*/
.display
{
    margin-left: 2.5em;
    margin-bottom: 2em;
    width: 6em;
    height: 3em;
    color: black;
}

/*Mise en forme des Tuiles des Plus Populaires*/
#popular1, #popular2, #popular3
{
    display: flex;
    align-items: space-around;
    width: 20em;
    height: 11.5em;
    color: black;
}

.activity1
{
    object-fit:cover;
    width: 239.25px;
    height: 110.02px;
}

.title2
{
    display: flex;
    justify-content:space-around;
    padding-top:1em;
    padding-left: 1em;
    width: 90%;
    height: 5%;
    font-size: 1.2em;
}

.picture1
{
    width: 10em;
    height: 10em;
    object-fit: cover;
}

.fas.fa-star
{
    color: #0065FC;
}

.fas.fa-star.grey
{
    color: #F2F2F2;
}