@media only screen and (min-width: 1743px) and (max-width: 1920px){

    #search{

        width: auto;
    }

    .fa-map-marker-alt{

        height: 32%;
    }
    
    #filters{

        display: flex;
        justify-content: space-around;
        width: 67%;
    }

    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{

        position: relative;
        left: 5.5%;
    }

   
    #hebergements{

        width: 65%;
    }

    .legende{

        font-size: 100%;
    }

    .image{

        width:80%;   
    }

    .night{

        font-size:100%;  
    }

    #popularity{

        width: 30%;
    }

    .popular{

        height: 28%;
    }

    .picture{

        width:43%;
        height:100%;
        object-fit: cover;
        margin-left: -2%;
    }

    #activities{

        width: auto;
        height: auto;
    }

    #activity1, #activity4{

        height: auto;
    }
    .picture1{

        width: 100%;  
        height: 142%; 
    }
   
    .title4{

        margin-top: 10%;
        margin-left: 10%;
    }
    
    
}

@media only screen and (min-width:1634px) and (max-width: 1742px){

    #hebergement{

        width: 55%;
    }

    #activities{

        width: 90%;
        height: 100%;
    }

    #activity1, #activity4{

        height: auto;
    }   

    #siteInformations{

        width: 100%;
    }

    #info, #hosting, #assistance{

        width:100%;
    }
}

@media only screen and (min-width: 1387px) and (max-width: 1633px){

    #hebergements{

        width: 55%;
    }
    
    #activities{

        width: 100%;
        height: 100%;
    }

    #activity1, #activity4{

        height: auto;
    }   

}

@media only screen and (min-width:1300px) and (max-width: 1386px){

    
}

    