@media only screen and (min-width: 1500px) and (max-width: 2560px){

    .title4{

        position: relative;
        left: 3.5em;
    }
}

@media only screen and (max-width: 1308px){

    #hebergements{

        width: 45em;
    }  
    
}
    
@media only screen and (max-width: 1228px){

    #hebergements{

        width: 40em;
    }   

}

@media only screen and (max-width: 1148px){

    #hebergements{

        width: auto;
    }   
    
    .image{

        width: 17em;
    }

    .celebrity{

        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        margin-top: 2em;
    }

    .title2{

        display: flex;
        justify-content:space-between;
        padding-left: 1em;
        padding-right: 1em;
    }

}
@media only screen and (max-width: 986px){

    #selection{

        margin: 20px 0;
    }
    
    .animal{

        margin: 10px 0;
    }

    .moreInfo{

        margin-top: 50px;
    }

    #hebergements figure{

        min-width: 258px;
    }

    #activities{

        flex: none;
        display: inline-block;
        width: 100%;
    }

    #activity1, #activity4{

        flex: none;
        display: block;
        width: 80%;
        min-width: 80%;
        margin: 0 10%;
    }
    
    #frame, #frame1{

        flex: none;
        position: inherit;
        display: inline-block;
        width: 100%;
        height: auto;
    }

    #activity2, #activity3, #activity5, #activity6{

        width: 80%;
        margin: 5% 10%;
    }

    .test{

        width: 100%;
        margin: 5% 10%;
    }

    .picture1, .picture2, .picture3, .picture4, .picture5{

        width:100%;
        height: auto;

    }

    #activities figure{

        max-width: 100%;
        max-height: auto;
        
    }

    #activity1{

        max-width: 100%;
        max-height: 100%;
    }
}

@media only screen and (max-width: 891px){

    .enterprise{

        flex: 0;
    }

    #info, #hosting, #assistance{

        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #siteInformations{

        flex-direction: column;
        justify-content: flex-start;
        align-content: space-between;
        height: auto;
        margin-top: 5em;
        line-height: 2em;
    }

    #info{

        margin-top: 2em;
    } 
}


