@media only screen and (min-width: 1500px) and (max-width: 2560px){

    .title4{

        left: 4.4rem;
    }
}

@media only screen and (max-width: 1308px){

    #hebergements{

        width: 45em;
    }  
    
}
    
@media only screen and (max-width: 1228px){

    #hebergements{

        width: 40em;
    }   

}

@media only screen and (max-width: 1148px){

    #hebergements{

        width: auto;
    }   
    
    .image{

        width: 17em;
    }

    .celebrity{

        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        margin-top: 2em;
    }

    .title2{

        display: flex;
        justify-content:space-between;
        padding-left: 1em;
        padding-right: 1em;
    }

}
@media only screen and (max-width: 1003px){

    #selection{

        margin: 20px 0;
    }
    
    .animal{

        margin: 10px 0;
    }

    .moreInfo{

        margin-top: 50px;
    }

    #hebergements figure{

        min-width: 258px;
    }

    #activities{

        width: 100%;
    }

    #activity1, #activity4{

        width: 80%;
        min-width: 80%;
        margin: 0 10%;
    }
    
    #frame, #frame1{

        flex: none;
        position: inherit;
        display: inline-block;
        width: 100%;
        height: auto;
    }

    #activity2, #activity3, #activity5, #activity6{

        width: 80%;
        margin: 5% 10%;
    }

    .test{

        width: 100%;
        margin: 5% 10%;
    }

    .picture1, .picture2, .picture3, .picture4, .picture5{

        width:100%;
        height: auto;
    }

    #activities figure{

        max-width: 100%;
        max-height: 100%;
    }

    #activity1{

        max-width: 100%;
        max-height: 100%;
    }
}

@media only screen and (max-width: 891px){

    .enterprise{

        flex: 0;
    }

    #info, #hosting, #assistance{

        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #siteInformations{

        flex-direction: column;
        justify-content: flex-start;
        align-content: space-between;
        height: auto;
        margin-top: 5em;
        line-height: 2em;
    }

    #info{

        margin-top: 2em;
    } 

    #assistance{

        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 687px){

    #principal{

        margin-left: 0;
        margin-right: 0; 
    }

    .search{

        width: auto;
        border-radius: 20px 20px 20px 20px;
    }

    .research{

        display: none;
    }

    .loupe{

        display: inherit;
    }

    #hebergements{

        order: 2;
        margin-top: 2em;
        background-color: #ffffff;
    }

    .reservation{

        flex: inherit;
        width: 300px;
        box-shadow: 6px 6px 4px #F2F2F2;
    }

    .image{

        width: 100%;
        height: 150px;
    }

    .display{

        display: inline-block;
        width: 100%;
        margin-right: inherit;
        font-size: 1.2em;
    }

    .celebrity{

        order: 1;
        width: 100%;
        margin: 0;
        border-radius: inherit;
    }
    
    .celebrity figure{

        flex: none;
        display: inline-block;
        width : auto;
        
    }
    #activities{

        order: 3;
        width: 100%;
    }

    #activities img{

        height: 150px;
    }

    .title1, .title2{

        font-size: 1.5em;
    }

    .title3{

        width:auto;
        margin-left: 1em;
        margin-bottom: 3em;
        font-size: 1.5em;
    }

    .title4{

        position: relative;
        left: 2.2em;
    }
}

@media only screen and (max-width: 553px){

    header{

        margin-left: 10px;
        margin-right: 10px;
    }
   
    .require{

        position: absolute;
        top:35px;
        right: 10px;
        font-weight: 700;
        font-size: 1.2em;
    }

    #navigation{

        flex: none;
        display: inline-block;
        width: auto;
    }

    .lien1{

        display: inline-block;
        width: auto;
        margin-bottom: 120px;
    }

    .location{

        position: absolute;
        top: 70px;
        left: 10px;
        font-size: 1.2em;
    }
   
    .activite{

        position: absolute;
        top: 70px;
        right: 10px;
        font-size: 1.2em;
    }
   
    nav li a:hover{

        border-top: inherit;
        border-bottom: 3px solid #0065FC;
    }

    li a{
        
        padding: 1.65em;
    }

    .search{
        
        margin-left: 5em;
        min-width: inherit;
    }

    #selection{

        display:inline-block;
    }

    .moreInfo{

        width: auto;
        margin-top: 30px;
    }

    .family{

        
        margin: 10px 0;
    }

    .heart{

        margin: 10px 0;
    }

    #hebergements{

        display: inline-block;
        width: auto;
    }

    .reservation{

        width: 90%;
    }
    
    .display{

        width:auto;
    }

    .celebrity{

        width: 100%;
    }

    .title2{

        width: auto;
    }

    #activities{
       
        display: inline-block;
        width: auto;
    }

    #activities figure{

        display: inline-block;
        width: 100%;
    }
}

@media only screen and (max-width: 375px){

    .activite{

        margin-right: 2rem;
    }

    h3{

        font-size: 1.2rem;
    }

    #hebergements{

        padding-bottom:0 ;
    }

    .title1{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.3rem;
    }

    .reservation{

        width: auto;
        margin-bottom: 0;
        margin-left:0.5rem;
        margin-right: 0.5rem;
    }

    .image{

        height:8rem;
    }

    .display{

        margin-top: 3rem;
        font-size: 1.1rem;
        font-weight: 800;
    }

    #activities{

        width:100%;
        padding-top: 0;
    }

    .title3{

        padding-top: 0;
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-weight: 800;
    }

    #activity1, #activity2, #activity3,
    #activity4, #activity5, #activity6{

        width: auto;
        margin: 1rem 0.5rem;
    }

    #activity1, #activity4{

        margin-right: 1rem;
    }
    
    hr{
        display:inherit;
        width: 100%;
        margin: 0;
        color: #F2F2F2;
    }

    .search{

        margin-left: 2rem;
    }

    .loupe{

        position: relative;
        right: 20px;
        border-radius: inherit;
    }

    .title2{

        width: 100%;
    }

   #siteInformations{

        margin-top: 1rem;
   }
}